@import "../../../assets/styles/variables";

.skills__container {
  display: grid;
  row-gap: 3.5rem;
  column-gap: 5rem;
  justify-content: center;

  .skills__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    font-size: $small-font-size;
    font-weight: $font-semi-bold;
    margin-bottom: 2.5rem;
  }

  .skills__title i {
    font-size: 1rem;
    font-weight: initial;
  }

  .skills__info {
    display: grid;
    gap: 2.5rem 2rem;
  }

  @media screen and (max-width: 230px) {
    .skills__info {
      grid-template-columns: repeat(3, 5.5rem);
    }
  }

  @media screen and (min-width: 230px) and (max-width: 450px) {
    .skills__info {
      grid-template-columns: repeat(2, 5.5rem);
    }
  }

  @media screen and (min-width: 450px) {
    .skills__info {
      grid-template-columns: repeat(3, 5.5rem);
    }
  }
}

@media screen and (min-width: 900px) {
  .skills__container {
    grid-template-columns: repeat(2, max-content);
  }
}

@media screen and (min-width: 1280px) {
  .skills__container {
    grid-template-columns: repeat(3, max-content);
  }
}
