@import "../../../assets/styles/variables";

.skills__container {
  row-gap: 3.5rem;

  .skills_title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    font-size: $small-font-size;
    font-weight: $font-semi-bold;
    margin-bottom: 2.5rem;
  }

  .skills_title i {
    font-size: 1rem;
    font-weight: initial;
  }

  .skills__info {
    display: grid;
    gap: 2.5rem 2rem;
    grid-template-columns: repeat(3, 1fr);

    .skills__data {
      display: grid;
      text-align: center;
      justify-content: center;

      .skills__blob {
        display: grid;
        width: 80px;
        height: 100px;
        border-radius: 3rem;
        place-items: center;
        margin-bottom: 1rem;
        background-color: $container-color;
      }

      .skills__blob img {
        width: 40px;
      }

      .skills__blob:hover img {
        animation: bounce-skills 0.6s;
      }

      @keyframes bounce-skills {
        0% {
          transform: translate(0);
        }
        20% {
          transform: translateY(-6px);
        }
        40% {
          transform: translate(0);
        }
        60% {
          transform: translateY(-3px);
        }
        80% {
          transform: translate(0);
        }
      }

      .skills__name {
        font-size: $small-font-size;
        margin-bottom: 0.25rem;
      }

      .skills__subtitle {
        font-size: $tiny-font-size;
        margin-bottom: 0.25rem;
      }
    }
  }
}
