@import "variables";

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  transition: background 0.3s;
}

h1,
h2,
h3 {
  color: $title-color;
  font-family: $title-font;
  font-weight: $font-medium;
  white-space: nowrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  margin-inline: 1.5rem;
}

.grid {
  gap: 1.5rem;
  display: grid;
  justify-content: center;
}

.section {
  padding-block: 2.5rem;
}

.section__border {
  border-bottom: 1px solid $title-color;
  padding-bottom: 3.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: $h1-font-size;
  font-weight: $font-semi-bold;
  margin-bottom: 0.25rem;
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
  color: $text-color-light;
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; /* For animation */
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(207, 4%, 75%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__menu {
    padding-bottom: 4rem;
  }

  .nav__list {
    gap: 1rem 1.25rem;
  }

  .projects__img {
    width: 200px;
    justify-self: center;
  }
}

/* For medium devices */
@media screen and (max-width: 576px) {
  .projects__container {
    overflow: hidden;
  }

  .projects__container .swiper-button-prev {
    left: 1rem;
  }

  .projects__container .swiper-button-next {
    right: 1rem;
  }
}

@media screen and (min-width: 767px) {
  .home__container {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .home__data {
    order: 2;
  }

  .home__info:nth-child(3) {
    order: 3;
    text-align: right;
  }

  .home__info {
    margin-top: 10rem;
  }

  .home__info-description {
    padding-right: 0;
  }

  .qualification__container,
  .services__container,
  .contact__container {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, max-content);
  }

  .qualification__container {
    justify-content: center;
    column-gap: 10rem;
  }

  .contact__form {
    width: 360px;
  }

  .contact__container {
    justify-content: center;
    column-gap: 8rem;
  }
}

@media screen and (min-width: 1023px) {
  .dark-theme .nav,
  .dark-theme .nav__menu {
    background-color: $body-color;
    box-shadow: none;
  }

  .section {
    padding-block: 8rem 0;
  }

  .home__title {
    font-size: 2.25rem;
  }

  .scroll-up {
    bottom: 5rem;
  }
}
